[submodule "wiki"]
	path = wiki
	url = https://github.com/veritrans/veritrans-android.wiki.git
[submodule "veritrans-android.wiki"]
	path = veritrans-android.wiki
	url = https://github.com/veritrans/veritrans-android.wiki.git
