<manifest package="com.midtrans.demo"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:name=".DemoApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".DemoConfigActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter><!-- Accept chrome links -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="midtrans"
                    android:scheme="demo" />
            </intent-filter>
        </activity>
        <activity android:name=".DemoProductPageActivity" />
        <activity
            android:name=".DemoOrderReviewActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".UserAddressActivity"
            android:windowSoftInputMode="stateHidden|adjustPan">

        </activity>
        <activity android:name=".DemoProductListActivity" />
        <activity android:name=".DemoSavedCardsActivity" />
        <activity android:name=".DemoAccountActivity" />
        <activity android:name=".DemoCardRegisterActivity" />
        <activity android:name=".GopayStatusActivity" />

        <!--<meta-data
            android:name="io.fabric.ApiKey"
            android:value="@string/api_key"
            />-->
    </application>

</manifest>
