<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.midtrans.sdk.ui">

    <application>
        <activity
            android:name=".views.transaction.TransactionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.creditcard.saved.SavedCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.creditcard.details.CreditCardDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.status.PaymentStatusActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.banktransfer.list.BankTransferListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.banktransfer.payment.BankTransferPaymentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.instructions.BankTransferInstructionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.creditcard.points.BankPointsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.midtrans.sdk.ui.views.webpayment.PaymentWebActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.cstore.indomaret.IndomaretActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.cstore.indomaret.IndomaretStatusActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.cstore.kioson.KiosonActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.cstore.kioson.KiosonStatusActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.cstore.kioson.KiosonInstructionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.gci.GiftCardIndonesiaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.ebanking.klikbca.KlikBcaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.ebanking.klikbca.KlikBcaStatusActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.ebanking.klikbca.KlikBcaInstructionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.ebanking.mandiri_clickpay.MandiriClickpayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.ebanking.bca_klikpay.BcaKlikpayActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>
