<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.midtrans.sdk.ui">

    <application
        android:allowBackup="true"
        android:theme="@style/MidtransSdkTheme">

        <activity android:name=".views.transaction.TransactionActivity" android:screenOrientation="portrait"/>
        <activity android:name=".views.creditcard.CreditCardActivity" android:screenOrientation="portrait" />
        <activity
            android:name=".views.creditcard.details.CreditCardDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.PaymentStatusActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.midtrans.sdk.ui.views.webpayment.PaymentWebActivity" android:screenOrientation="portrait"/>

    </application>

</manifest>
