<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.midtrans.sdk.ui">

    <application
        android:allowBackup="true"
        android:theme="@style/MidtransSdkTheme">
        <activity
            android:name=".views.transaction.TransactionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.creditcard.saved.SavedCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.creditcard.details.CreditCardDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.status.PaymentStatusActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.banktransfer.list.BankTransferListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.banktransfer.payment.BankTransferPaymentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.instructions.BankTransferInstructionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.creditcard.points.BankPointsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.midtrans.sdk.ui.views.webpayment.PaymentWebActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.cstore.indomaret.IndomaretActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>
