<?xml version="1.0" encoding="utf-8"?>
<manifest package="id.co.veritrans.sdk"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:label="@string/app_name">
        <activity
            android:name=".activities.UserDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/VeritransAppTheme"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity
            android:name=".activities.PaymentMethodsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/VeritransAppTheme"/>
        <activity
            android:name=".activities.CreditDebitCardFlowActivity"
            android:screenOrientation="portrait"
            android:theme="@style/VeritransAppTheme"/>
        <activity
            android:name=".activities.BankTransferActivity"
            android:screenOrientation="portrait"
            android:theme="@style/VeritransAppTheme"/>
        <activity
            android:name=".activities.BankTransferInstructionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/VeritransAppTheme"/>
        <activity
            android:name=".activities.PaymentWebActivity"
            android:screenOrientation="portrait"
            android:theme="@style/VeritransAppTheme"/>
        <activity
            android:name=".activities.MandiriClickPayActivity"
            android:screenOrientation="portrait"
            android:theme="@style/VeritransAppTheme"/>
        <activity
            android:name=".activities.EpayBriActivity"
            android:screenOrientation="portrait"
            android:theme="@style/VeritransAppTheme"/>
        <activity
            android:name=".activities.CIMBClickPayActivity"
            android:screenOrientation="portrait"
            android:theme="@style/VeritransAppTheme"/>
        <activity
            android:name=".activities.MandiriECashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/VeritransAppTheme"/>

    </application>

</manifest>
