<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.midtrans.sdk.scancard">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity android:name=".ScanCardActivity" />
        <activity android:name="io.card.payment.CardIOActivity"/>
    </application>

</manifest>
