<manifest package="com.midtrans.sdk.uikit"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk tools:overrideLibrary="com.rds.swipelayout,me.saket.bettermovementmethod,com.stfalcon.smsverifycatcher" />

    <application
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:supportsRtl="true"
        tools:replace="android:allowBackup">

        <activity
            android:name=".view.PaymentListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/VeritransAppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".view.status.PaymentStatusActivity"
            android:screenOrientation="portrait"
            android:theme="@style/VeritransAppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".view.banktransfer.list.BankTransferListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/VeritransAppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".view.banktransfer.instruction.BankTransferInstructionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/VeritransAppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".view.gopay.instruction.GopayInstructionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/VeritransAppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".view.indomaret.instruction.IndomaretInstructionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/VeritransAppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".view.banktransfer.result.BankPaymentResultActivity"
            android:screenOrientation="portrait"
            android:theme="@style/VeritransAppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".view.banktransfer.result.OtherBankPaymentResultActivity"
            android:screenOrientation="portrait"
            android:theme="@style/VeritransAppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".view.banktransfer.result.MandiriBillPaymentResultActivity"
            android:screenOrientation="portrait"
            android:theme="@style/VeritransAppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".view.gopay.result.GopayResultActivity"
            android:screenOrientation="portrait"
            android:theme="@style/VeritransAppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".view.indomaret.result.IndomaretResultActivity"
            android:screenOrientation="portrait"
            android:theme="@style/VeritransAppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".view.klikbca.result.KlikBcaResultActivity"
            android:screenOrientation="portrait"
            android:theme="@style/VeritransAppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".view.klikbca.instruction.KlikBcaInstructionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/VeritransAppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".view.cimbclicks.CimbClicksInstructionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/VeritransAppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".view.webview.WebViewPaymentActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/VeritransAppTheme" />
        <activity
            android:name=".view.danamononline.DanamonOnlineInstructionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/VeritransAppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".view.akulaku.AkulakuInstructionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/VeritransAppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />

    </application>

</manifest>